include popup

+popup('callback', 'Обратный звонок', 'Мы перезвоним вам#[br]в течение 5 минут')
  form
    +input('Ваше имя')()
    +input('Номер телефона')(type='tel')
    .center-text: button.button.button--inline ОТПРАВИТЬ ЗАЯВКУ