.outpost#outpost.w
  .outpost__item
    .outpost__title Пункт выдачи в #[span г. Москва]
    .outpost__address ул. Комсомольская 3А
    .outpost__phone 8 (495) 300-00-00
    .outpost__phone 8 (926) 301-01-01
  .outpost__item
    .outpost__title Пункт выдачи в #[span г.Санкт-Петербург]
    .outpost__address Волхонское шоссе, 4А
    .outpost__phone 8 (495) 300-00-00
    .outpost__phone 8 (926) 301-01-01
