.catalog#catalog
  h2.title Кузовные элементы
  h3.subtitle Выберите что вам необходимо

  .w: .catalog__items
    .catalog__item: .catalog__item-inner
      .catalog__image
        img(src='modules/catalog/img/catalog-1.jpg')
        .catalog__price от 2100.–
      .catalog__content
        .catalog__title Передний бампер
        .catalog__text
          |Неокрашенный - от 2 100 р.#[br]
          |Окрашенный - от 2 400 р.

        button.catalog__button(data-type='Передний бампер') Заказать
    .catalog__item: .catalog__item-inner
      .catalog__image
        img(src='modules/catalog/img/catalog-2.jpg')
        .catalog__price от 2100.–
      .catalog__content
        .catalog__title Крыло
        .catalog__text
          |Неокрашенный - от 2 100 р.#[br]
          |Окрашенный - от 2 400 р.
        button.catalog__button(data-type='Крыло') Заказать

    .catalog__item: .catalog__item-inner
      .catalog__image
        img(src='modules/catalog/img/catalog-3.jpg')
        .catalog__price от 2100.–
      .catalog__content
        .catalog__title Двери передние
        .catalog__text
          |Неокрашенный - от 2 100 р.#[br]
          |Окрашенный - от 2 400 р.
        button.catalog__button(data-type='Двери передние') Заказать

    .catalog__item: .catalog__item-inner
      .catalog__image
        img(src='modules/catalog/img/catalog-4.jpg')
        .catalog__price от 2100.–
      .catalog__content
        .catalog__title Капот
        .catalog__text
          |Неокрашенный - от 2 100 р.#[br]
          |Окрашенный - от 2 400 р.
        button.catalog__button(data-type='Капот') Заказать

    .catalog__item: .catalog__item-inner
      .catalog__image
        img(src='modules/catalog/img/catalog-5.jpg')
        .catalog__price от 2100.–
      .catalog__content
        .catalog__title Задний бампер
        .catalog__text
          |Неокрашенный - от 2 100 р.#[br]
          |Окрашенный - от 2 400 р.
        button.catalog__button(data-type='Задний бампер') Заказать

    .catalog__item: .catalog__item-inner
      .catalog__image
        img(src='modules/catalog/img/catalog-6.jpg')
        .catalog__price от 2100.–
      .catalog__content
        .catalog__title Фары
        .catalog__text
          |Неокрашенный - от 2 100 р.#[br]
          |Окрашенный - от 2 400 р.
        button.catalog__button(data-type='Фары') Заказать

    .catalog__item: .catalog__item-inner
      .catalog__image
        img(src='modules/catalog/img/catalog-7.jpg')
        .catalog__price от 2100.–
      .catalog__content
        .catalog__title Двери задние
        .catalog__text
          |Неокрашенный - от 2 100 р.#[br]
          |Окрашенный - от 2 400 р.
        button.catalog__button(data-type='Двери задние') Заказать
