.delivery#delivery
  h2.title Доставка и оплата
  h3.subtitle Отправляем заказ любыми транспортными компаниями

  .w.delivery__items
    .delivery__item: img(src='modules/delivery/delivery-1.png')
    .delivery__item: img(src='modules/delivery/delivery-2.png')
    .delivery__item: img(src='modules/delivery/delivery-3.png')
    .delivery__item: img(src='modules/delivery/delivery-4.png')
    .delivery__item: img(src='modules/delivery/delivery-5.png')

  .w.delivery__steps
    .delivery__step
      .delivery__label 1.
      .delivery__title Оставляете заявку
      .delivery__text Вы #[a.popup__opener(href='#callback') оставляете заявку], мы#[br]перезваниваем и уточняем#[br]адрес
    .delivery__step
      .delivery__label 2.
      .delivery__title Отправляем
      .delivery__text Упаковываем и отправляем,#[br]высылаем код отслеживания
    .delivery__step
      .delivery__label 3.
      .delivery__title Получаете
      .delivery__text Получаете, проверяете#[br]и забираете
    .delivery__step
      .delivery__label 4.
      .delivery__title Оплачиваете
      .delivery__text Оплачиваете после#[br]осмотра
