.slide#top
  .w
    .slide__left
      h1.slide__title Кузовные элементы#[br]по #[span низким ценам]
      p.slide__subtitle Отправляем без предоплаты#[br]по всей России
      .slide__bullets
        .slide__bullet.slide__bullet--1
          .slide__icon
          .slide__text В наличии неокрашенные#[br]и окрашенные элементы
        .slide__bullet.slide__bullet--2
          .slide__icon
          .slide__text Гарантия качества
        .slide__bullet.slide__bullet--3
          .slide__icon
          .slide__text Товар в наличии
    .slide__right
      img.slide__image(src='img/car.jpg')
      .slide__overlay
      .slide__items
        .slide__item
          .slide__name Капоты
          .slide__content
            .slide__from от 2000.-
            .slide__price1 Неокрашенный - 2000 р.
            .slide__price2 Окрашенный - 2500 р.
        .slide__item
          .slide__name Бампера
          .slide__content
            .slide__from от 2000.-
            .slide__price1 Неокрашенный - 2000 р.
            .slide__price2 Окрашенный - 2500 р.
        .slide__item
          .slide__name Фары
          .slide__content
            .slide__from от 2000.-
            .slide__price1 Неокрашенный - 2000 р.
            .slide__price2 Окрашенный - 2500 р.
        .slide__item
          .slide__name Крылья
          .slide__content
            .slide__from от 2000.-
            .slide__price1 Неокрашенный - 2000 р.
            .slide__price2 Окрашенный - 2500 р.
        .slide__item
          .slide__name Двери
          .slide__content
            .slide__from от 2000.-
            .slide__price1 Неокрашенный - 2000 р.
            .slide__price2 Окрашенный - 2500 р.

  .slide__line
    a.slide__button(href='#form'): svg(width="22" height="15"): use(xlink:href="#arrow")