.info
  .info__block
    .info__text В продаже имеются#[br]передние и задние фары#[br]на разные модели авто
    img.info__image(src='modules/info/info.png')
  .info__sub Уточняйте наличие деталей по телефону:
  .info__contacts
    .info__phone 8 800 555-35-35
    .info__works
      |9:00 – 22:00#[br]
      span Без выходных

    .info__button: a.button.popup__opener(href='#callback') ИЛИ ОТПРАВИТЕ ЗАПРОС