.bullets
  .w: .bullets__items
    .bullets__item.bullets__item--1
      .bullets__title Цвет на выбор
      .bullets__text Предлагаем неокрашенную и окрашенную в заводской цвет кузова продукцию
    .bullets__item.bullets__item--2
      .bullets__title Склады
      .bullets__text Склад и офис в Москве и Санкт-Петербурге
      .bullets__text: a(href='#outpost') Контакты
    .bullets__item.bullets__item--3
      .bullets__title Покраска и монтаж
      .bullets__text В Москве и Санкт-Петербурге оказываем услуги по покраске и монтажу элементов
    .bullets__item.bullets__item--4
      .bullets__title В наличии, на складе
      .bullets__text В базе более 8000 бамперов, крыльев и капотов, в наличии на складе
    .bullets__item.bullets__item--5
      .bullets__title Доставка
      .bullets__text Отправляем наложенным платежом во все регионы
    .bullets__item.bullets__item--6
      .bullets__title Качество
      .bullets__text Вся продукция выполнена из высококачественных материалов
