.faq
  h2.title Вопросы и ответы
  h3.subtitle Мы веделили основные вопросы, которые волнуют#[br]клиентов перед заказом и разместили здесь:

  .w
    .faq__col
      .faq__item
        .faq__question Из какого металла вы делаете пороги?
        .faq__answer: .faq__text В приоритете холоднокатанная сталь толщиной 1-1,5 мм (1,5 мм по желанию заказчика, или если это целесообразно, например, авто активно эксплуатируется среди внедорожья). Как правило, 1 мм достаточно, так как оригинальные пороги имеют толщину 0,8 мм
      .faq__item
        .faq__question Из какого металла вы делаете пороги?
        .faq__answer: .faq__text В приоритете холоднокатанная сталь толщиной 1-1,5 мм (1,5 мм по желанию заказчика, или если это целесообразно, например, авто активно эксплуатируется среди внедорожья). Как правило, 1 мм достаточно, так как оригинальные пороги имеют толщину 0,8 мм
      .faq__item
        .faq__question Из какого металла вы делаете пороги?
        .faq__answer: .faq__text В приоритете холоднокатанная сталь толщиной 1-1,5 мм (1,5 мм по желанию заказчика, или если это целесообразно, например, авто активно эксплуатируется среди внедорожья). Как правило, 1 мм достаточно, так как оригинальные пороги имеют толщину 0,8 мм
    .faq__col
      .faq__item
        .faq__question Из какого металла вы делаете пороги?
        .faq__answer: .faq__text В приоритете холоднокатанная сталь толщиной 1-1,5 мм (1,5 мм по желанию заказчика, или если это целесообразно, например, авто активно эксплуатируется среди внедорожья). Как правило, 1 мм достаточно, так как оригинальные пороги имеют толщину 0,8 мм
      .faq__item
        .faq__question Из какого металла вы делаете пороги?
        .faq__answer: .faq__text В приоритете холоднокатанная сталь толщиной 1-1,5 мм (1,5 мм по желанию заказчика, или если это целесообразно, например, авто активно эксплуатируется среди внедорожья). Как правило, 1 мм достаточно, так как оригинальные пороги имеют толщину 0,8 мм
      .faq__item
        .faq__question Из какого металла вы делаете пороги?
        .faq__answer: .faq__text В приоритете холоднокатанная сталь толщиной 1-1,5 мм (1,5 мм по желанию заказчика, или если это целесообразно, например, авто активно эксплуатируется среди внедорожья). Как правило, 1 мм достаточно, так как оригинальные пороги имеют толщину 0,8 мм