footer.footer
  .footer__line
    a.footer__button(href='#top'): svg(width="22" height="15"): use(xlink:href="#arrow")

  .w.footer__container
    .footer__logo
      svg(width="94" height="90"): use(xlink:href="#logo")
      .footer__copyright
        |2018 Carbody#[br]
        |Все права защищены
    .footer__socials
      |Вступайте в наши сообщества: 
      .footer__links
        a(href='#' target='_blank'): svg(width="26" height="17"): use(xlink:href="#vk")
        a(href='#' target='_blank'): svg(width="18" height="19"): use(xlink:href="#inst")
        a(href='#' target='_blank'): svg(width="130" height="19"): use(xlink:href="#drive2")
    .footer__contacts
      .footer__phone 8 800 555-35-35
      .footer__sub Бесплатно со всех номеров

